# Klas Berdaya — Environment Variables

# ─── Database ───────────────────────────────────────────────────────────────
# Format: mysql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="mysql://root:@localhost:3306/name_of_db"

# ─── Next.js ────────────────────────────────────────────────────────────────
# URL publik aplikasi
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# ─── NextAuth ───────────────────────────────────────────────────────────────
NEXTAUTH_SECRET="GANTI_DENGAN_RANDOM_STRING_MIN_32_KARAKTER"

# URL aplikasi yang digunakan NextAuth untuk redirect
NEXTAUTH_URL="http://localhost:3000"
